@import '~antd/dist/antd.css';


.h100 {
    height: calc(100vh - 64px);
}

.mt-1 > * {
    margin-bottom: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}

.mr-1 {
    margin-right: 10px;
}
.flex div {
    display: flex;
    align-items: center;
}

.w120 {
    width: 120px;
}

.w900 {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}